{% extends "catalog/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Shopping Cart" %}</h1>

{% if cart %}
    {% for item in cart %}
        <div>
            <h3>{{ item.book.title }}</h3>

            <p>{% trans "Price" %}: €{{ item.price }}</p>
            <p>{% trans "Quantity" %}: {{ item.quantity }}</p>
            <p>{% trans "Total" %}: €{{ item.total_price }}</p>

            <form method="post"
                  action="{% url 'orders:cart_remove' item.book.id %}">
                {% csrf_token %}
                <button type="submit">{% trans "Remove" %}</button>
            </form>
        </div>
        <hr>
    {% endfor %}

    <h2>{% trans "Total" %}: €{{ cart.get_total_price }}</h2>

    <form method="post" action="{% url 'orders:cart_clear' %}">
        {% csrf_token %}
        <button type="submit">{% trans "Clear cart" %}</button>
    </form>

    <br>

<a href="{% url 'orders:order_create' %}"
   class="btn btn-success">
    {% trans "Checkout" %}
</a>

{% else %}
    <p>{% trans "Your cart is empty." %}</p>
{% endif %}

<a href="{% url 'catalog:book_list' %}">{% trans "Continue shopping" %}</a>
{% endblock %}