{% extends "catalog/base.html" %}

{% block content %}
<h1>Shopping Cart</h1>

{% if cart %}
    {% for item in cart %}
        <div>
            <h3>{{ item.book.title }}</h3>

            <p>Price: €{{ item.price }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Total: €{{ item.total_price }}</p>

            <form method="post"
                  action="{% url 'orders:cart_remove' item.book.id %}">
                {% csrf_token %}
                <button type="submit">Remove</button>
            </form>
        </div>
        <hr>
    {% endfor %}

    <h2>Total: €{{ cart.get_total_price }}</h2>

    <form method="post" action="{% url 'orders:cart_clear' %}">
        {% csrf_token %}
        <button type="submit">Clear cart</button>
    </form>

    <br>

<a href="{% url 'orders:order_create' %}"
   class="btn btn-success">
    Checkout
</a>

{% else %}
    <p>Your cart is empty.</p>
{% endif %}

<a href="{% url 'catalog:book_list' %}">Continue shopping</a>
{% endblock %}