{% extends "catalog/base.html" %}

{% block content %}
<h1>Checkout</h1>

<h3>Your order</h3>

{% for item in cart %}
    <p>
        {{ item.book.title }} —
        {{ item.quantity }} × €{{ item.price }}
    </p>
{% endfor %}

<h3>Total: €{{ cart.get_total_price }}</h3>

<hr>

<h3>Customer information</h3>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">
        Create order
    </button>
</form>

<a href="{% url 'orders:cart_detail' %}">
    Back to cart
</a>
{% endblock %}