{% extends "catalog/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Checkout" %}</h1>

<h3>{% trans "Your order" %}</h3>

{% for item in cart %}
    <p>
        {{ item.book.title }} —
        {{ item.quantity }} × €{{ item.price }}
    </p>
{% endfor %}

<h3>{% trans "Total" %}: €{{ cart.get_total_price }}</h3>

<hr>

<h3>{% trans "Customer information" %}</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">{% trans "Place order and pay" %}</button>
        Create order
    </button>
</form>

<a href="{% url 'orders:cart_detail' %}">
    Back to cart
</a>
{% endblock %}